<mat-card style="background-color: #E5F1FB">
    <mat-card-header>
            <mat-card-title><b>Quantidade de permissões solicitadas: </b>{{ postReturnLength }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngFor='let appDetails of postReturn;'>
            <br>
            <mat-list-item><b>Permissão: </b>{{ appDetails.name }}</mat-list-item>
            <br>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </div>
    </mat-card-content>
</mat-card> 